<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088107965669-7s6mmhehs6hsc0m3qcuueth70niiagtk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088107965669-7s6mmhehs6hsc0m3qcuueth70niiagtk</string>
	<key>API_KEY</key>
	<string>AIzaSyAWluX7WA3OpDb7dypFSrqXkQEJX5vpVIs</string>
	<key>GCM_SENDER_ID</key>
	<string>1088107965669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AhmedAfifi.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-9480f</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-9480f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088107965669:ios:53fda9efea7cea3444b80c</string>
	<key>DATABASE_URL</key>
	<string>https://ichat-9480f.firebaseio.com</string>
</dict>
</plist>